{% load static %}

<!-- ========== COMMON JS FILES ========== -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/pace/pace.min.js' %}"></script>
<script src="{% static 'js/lobipanel/lobipanel.min.js' %}"></script>
<script src="{% static 'js/iscroll/iscroll.js' %}"></script>

<!-- ========== PAGE JS FILES ========== -->
<script src="{% static 'js/prism/prism.js' %}"></script>
<script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/waypoint/waypoints.min.js' %}"></script>
<script src="{% static 'js/counterUp/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/amcharts/amcharts.js' %}"></script>
<script src="{% static 'js/amcharts/serial.js' %}"></script>
<script src="{% static 'js/amcharts/plugins/export/export.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/amcharts/plugins/export/export.css' %}" type="text/css" media="all" />
<script src="{% static 'js/amcharts/themes/light.js' %}"></script>
<script src="{% static 'js/toastr/toastr.min.js' %}"></script>
<script src="{% static 'js/icheck/icheck.min.js' %}"></script>

<!-- ========== THEME JS ========== -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/production-chart.js' %}"></script>
<script src="{% static 'js/traffic-chart.js' %}"></script>
<script src="{% static 'js/task-list.js' %}"></script>

<!-- ========== ADD custom.js FILE BELOW WITH YOUR CHANGES ========== -->
