<div class="sidebar-nav">
    <ul class="side-nav color-gray">
        <li class="nav-header">
            <span class="">Main Category</span>
        </li>
        <li>
            <a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span> </a>

        </li>

        <li class="nav-header">
            <span class="">Appearance</span>
        </li>
        <li class="has-children">
            <a href="#"><i class="fa fa-file-text"></i> <span>Student Classes</span> <i class="fa fa-angle-right arrow"></i></a>
            <ul class="child-nav">
                <li><a href="{% url 'student_classes:create_class' %}"><i class="fa fa-bars"></i> <span>Create Class</span></a></li>
                <li><a href="{% url 'student_classes:class_list' %}"><i class="fa fa fa-server"></i> <span>Manage
                            Classes</span></a></li>

            </ul>
        </li>
        <li class="has-children">
            <a href="{% url 'subjects:subject_list' %}"><i class="fa fa-file-text"></i> <span>Subjects</span> <i class="fa fa-angle-right arrow"></i></a>
            <ul class="child-nav">
                <li><a href="{% url 'subjects:create_subject' %}"><i class="fa fa-bars"></i> <span>Create
                            Subject</span></a></li>
                <li><a href="{% url 'subjects:subject_list' %}"><i class="fa fa fa-server"></i> <span>Manage
                            Subjects</span></a></li>
                <li><a href="{% url 'subjects:create_subject_combination' %}"><i class="fa fa-newspaper-o"></i>
                        <span>Add Subject Combination </span></a></li>
                <a href="{% url 'subjects:subject_combination_list' %}"><i class="fa fa-newspaper-o"></i>
                    <span>Manage Subject Combination </span></a>
        </li>
    </ul>
    </li>
    <li class="has-children">
        <a href="{% url 'students:student_list' %}"><i class="fa fa-users"></i> <span>Students</span> <i class="fa fa-angle-right arrow"></i></a>
        <ul class="child-nav">
            <li><a href="{% url 'students:student_create' %}"><i class="fa fa-bars"></i> <span>Add Students</span></a></li>
            <li><a href="{% url 'students:student_list' %}"><i class="fa fa fa-server"></i> <span>Manage
                        Students</span></a></li>

        </ul>
    </li>
    <li class="has-children">
        <a href="#"><i class="fa fa-info-circle"></i> <span>Result</span> <i class="fa fa-angle-right arrow"></i></a>
        <ul class="child-nav">
            <li><a href="{% url 'results:declare_result' %}"><i class="fa fa-bars"></i> <span>Add Result</span></a></li>
            <li><a href="{% url 'results:result_list' %}"><i class="fa fa fa-server"></i> <span>Manage
                        Result</span></a></li>

        </ul>
    <li><a href="{% url 'dashboard:change_password' %}"><i class="fa fa fa-server"></i> <span> Admin Change
                Password</span></a></li>

    </li>
</div>